# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Data and model files
/data/
/app/data/
*.h5
/models/
/temp/
/uploads/

# Keep only necessary model files
!/skin_lesion_model.h5
!/label_encoder_classes.npy

NEXT_PUBLIC_API_URL=https://oncoscopic-ml-api-51c113766de3.herokuapp.com